.App {
    text-align: center;
    background-color: lightslategrey;
}

.todoTextArea {
    resize: none;
    overflow: hidden;
    color: white;
    background-color: rgb(75, 75, 75);
    border: none;
    padding: 1rem;
}

.todoContainer {
    background-color: rgb(75, 75, 75);
    margin: 1rem 16rem 1rem 16rem;
    padding: 0.5rem;
    border: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem grey;
}

input[type="radio"]{
    display: none;
}

.todoRadio:checked + .todoSpan {
    opacity: 100%;
}

.inProRadio:checked + .inProSpan {
    opacity: 100%;
}

.doneRadio:checked + .doneSpan {
    opacity: 100%;
}

.todoSpan {
    color: white;
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border: 1px;
    border-radius: 0.2rem;
    background: lightblue;
    opacity: 70%;
    transition: background 0.1s;
}

.inProSpan {
    color: white;
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border: 1px;
    border-radius: 0.2rem;
    background: lightgreen;
    opacity: 70%;
    transition: background 0.1s;
}


.doneSpan {
    color: white;
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border: 1px;
    border-radius: 0.2rem;
    background: lightcoral;
    opacity: 70%;
    transition: background 0.1s;
}